@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --main-color: #137a47;
    --secondary: #ca9e40;
    --font-regular: 'Satoshi-Regular';
    --font-light: 'Satoshi-Light';
    --font-medium: 'Satoshi-Medium';
    --font-bold: 'Plus Jakarta Sans';
}

body{
     font-family: var(--font-regular);
     background: #fff6e37f;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
     width: 100%;
     height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}
    ::-webkit-scrollbar-track {
    background: transparent;
  }
    ::-webkit-scrollbar-thumb {
    background: var(--main-color); 
      border-radius:10px;
  }
/* Utils */
.inner-row{
     width: 1280px;
     margin: auto;
}

/* Header Styles */
.header-content{
    padding: 0px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -ms-border-radius: 0px 0px 30px 30px;
    -o-border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 0px 2px -1px rgba(7, 24, 0, 0.3);
}
.header-content a h3{
      color: var(--main-color);
      font-size: 22px;
}
.header-content nav ul{
      display: flex;
      gap: 30px;
}

.header-content nav ul li a{
     color:rgba(7, 24, 0);
     position: relative;
     padding-bottom: 10px;
}
.header-content nav ul li a:hover{
     color: var(--main-color);
}
.header-content nav ul li a::after{
      position: absolute;
      content: '';
      height: 2px;
      width: 0%;
      background: var(--main-color);
      bottom: 0;
      left: 50%;
      transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
}
.header-content ul li a:hover::after,
.header-content ul li a.active::after{
     width: 100%;
     left: 0;
}

.header-content .action-btns{
     display: flex;
     align-items: center;
     gap: 20px;
}
.action-btns h2{
    font-size: 17px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: var(--font-light);
}
.action-btns h2 span{
    display: inline-flex;
    color: var(--main-color);
}
.action-btns a{
     width: 150px;
     height: 50px;
     display: flex;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     align-items: center;
     justify-content: center;
     background: linear-gradient(to right, var(--main-color), rgb(77, 207, 77));
     color: white;
     font-size: 14px;
     
}


/*  Footer Styles  */
footer{
     background: rgb(0, 23, 0);
}

.footer-content{
      display: grid;
      grid-template-columns: 400px 1fr 1fr 300px;;
      gap: 50px;
      padding: 100px 0;
}
.footer-column .footer-title{
     color: whitesmoke;
     font-weight: 400;
     font-size: 22px;
     margin-bottom: 10px;
}
.footer-column .footer-logo{
      width: 180px;
      margin-bottom: 10px;
}
.footer-logo h2{
    font-size: 30px;
    color: gainsboro;
}

.footer-column p{
      font-size: 16px;
      color: gainsboro;
      margin-bottom: 10px;
}
.footer-column ul li{
      line-height: 40px;
}
.footer-column ul li a{
    font-size: 16px;
    display: flex;
    color: gainsboro;
    transition:all 0.7s ease;
    -webkit-transition:all 0.7s ease;
    -moz-transition:all 0.7s ease;
    -ms-transition:all 0.7s ease;
    -o-transition:all 0.7s ease;
}
.footer-column ul li a:hover{
     transform: scale(0.97);
     -webkit-transform: scale(0.97);
     -moz-transform: scale(0.97);
     -ms-transform: scale(0.97);
     -o-transform: scale(0.97);
}

.footer-column h3{
    color: gainsboro;
    font-weight: 400;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    align-items: center;
}
.footer-column h3 span{
     display: flex;
}

.footer-social-links ul{
    display: flex;
    gap: 30px;
    margin-top: 30px
}
.footer-social-links ul li a{
    font-size: 18px;
    border: 1px solid rgb(145, 145, 145);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.footer-social-links ul li a:hover{
     background:rgba(93, 152, 104, 0.3);
     border: none;
}
.copyright-section p{
     text-align: center;
     padding: 30px 0;
     color: whitesmoke;
     font-size: 14px;
     font-family: var(--font-light);
}
.copyright-section::before{
       content: "";
       width: 100%;
       height: 1px;
       background: rgba(109, 109, 109, 0.507);
       display: block;
}